# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
.env

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Node & Firebase
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
firebase-debug.*.log*
firestore-debug.log*
ui-debug.log*

# Flutter/Dart/Pub related
**/doc/api/
**/.dart_tool/
**/.flutter-plugins-dependencies
**/.flutter-plugins
**/.pub-cache/
**/.pub/
**/build/
**/coverage/

# Android build and local files
**/android/local.properties
**/android/.gradle/
**/android/captures/
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
**/android/**/GeneratedPluginRegistrant.java
**/android/.cxx/
**/gradlew
**/gradlew.bat
**/gradle/wrapper/gradle-wrapper.jar
.gradle/

# iOS and macOS build files
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/ephemeral/
**/ios/Flutter/.last_build_id
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/.symlinks/
**/ios/Pods/
**/macos/Flutter/ephemeral/
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/flutter_export_environment.sh
**/macos/Flutter/Flutter-Generated.xcconfig

# Windows and Linux build files
**/windows/flutter/ephemeral/
**/linux/flutter/ephemeral/

# Widget Preview related
.widget_preview/

# Environment secrets
.env
.env.*
functions/.env
functions/.env.*
